*{
	padding: 0px;
	margin: 0px;

	box-sizing: border-box;

}
header{
	background-color: #58B19F;
}
.logo > img{
	width: 140px;
	margin: 5px;

	margin-left: 15px;

}
.menu{
	display:flex;
    flex-direction:row;

    justify-content: space-between;
    border: 1px solid red;
}

nav{
	display: flex;
	flex-direction: row;

	border: 1px solid green;

	align-items: center;

}

nav > div {
	margin-left: 20px;
	margin right: 20px;

}

 
